.animeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    
    align-items: center;
    max-width: 1330px;
    margin: auto;

    h1{
        margin-right: auto;
    }

    .animeContainerSub {
        display: flex;
        gap: 40px;
        flex-wrap: wrap;
        justify-content: center;

        .aniCardContainer {
            display: flex;
            gap: 10px;

            .leftContainer {
                display: flex;
                transform: rotate(180deg);
                writing-mode: vertical-rl;
                gap: 12px;
                max-height: 250px;
                height: 100%;


                .titleContainer {
                    display: flex;
                    align-items: center;

                }

                .rating {
                    background: var(--pink-color);
                    text-align: center;
                    display: flex;
                    align-items: center;
                    transform: rotate(90deg);
                    border-radius: 50%;
                    min-width: 40px;
                    min-height: 40px;
                    justify-content: center;
                }
            }


            .aniCard {
                max-width: 160px;
                width: 100%;
                overflow: hidden;
                position: relative;
                height: auto;
                cursor: pointer;
                transition: 0.2s ease all;
                max-height: 250px;
                box-shadow: 1px 1px 1px 1px #ffffff93;

                &:hover {
                    transform: scale(1.01);
                }

                img {
                    width: 180px;
                    height: 250px;
                    object-fit:fill;
                }
            }
        }
    }
}

// @media screen and(max-width:768px) {

// }