.animeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    
    align-items: center;
    max-width: 1330px;
    margin: auto;

    h1{
        margin-right: auto;
    }

    .animeContainerSub {
        display: flex;
        gap: 40px;
        flex-wrap: wrap;
        justify-content: center;
    }
}
