@import "../../constants/variables.scss";
.header{
    max-width: 1440px;
    padding: 10px 20px;
    font-size: var(--primary-font-size);
    font-weight: var(--primary-font-weight);
    align-items: center;
    display: flex;
    gap: 12px;
    margin: auto;

    .logo{
        width: 40px;
        height: 40px;

    }
}