@import "./constants/variables.css";

body{
    background: var(--primary-color);
    font-family: var(--primary-font);
    color: var(--secondary-color);
    letter-spacing: 0.1em;
    padding: 32px 64px;
    display: flex;
    flex-direction: column;

}

p,h1,h2,h3,h4,h5,h6,span{
    margin: 0;
}

.iconBtn{
    min-width: 50px;
    height: 50px;
    border: none;
    border-radius: 12px;
    background: #ffbade;
}

input:focus{
    outline: none;
    border: none;
}